*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1c1d;
  background-image: url("../img/error.svg");
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
  color: #4C86C6;
}
a, .wrongName {
  color: #FCB315;
}
h2 {
  margin: 20px 0;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 40rem;
  max-height: 60rem;
}
